[Unit]
Description=Edge Attendance System Config.
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/unit/CREC-Presence-Unit/config_web
ExecStart=/home/unit/CREC-Presence-Unit/venv/bin/python /home/unit/CREC-Presence-Unit/config_web/app.py
Restart=always
RestartSec=10
Environment=PYTHONPATH=/home/unit/CREC-Presence-Unit
Environment=VIRTUAL_ENV=/home/unit/CREC-Presence-Unit/venv
Environment=PATH=/home/unit/CREC-Presence-Unit/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
